{% extends "layout.html" %}

{% block content %}

	<div class="yt-video-container">
		<iframe class="yt-live-video" width="560" height="315" src="https://www.youtube.com/embed/{{ vid }}" frameborder="0" allowfullscreen></iframe>
	</div>

{% endblock %}
