{% extends "layout.html" %}

{% block content %}

	<div class="yt-video-container">
		<iframe class="yt-live-video" width="560" height="315" src="https://www.youtube.com/embed/{{ vid }}" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="yt-chat-container">
		<div class="yt-chatbox">
			{% for chat in chats %}
				<tr>
					<td>
						<strong>{{ chat.author_name | raw }}</strong>: {{ chat.message | raw }}
					<td>
				</tr><br>
			{% endfor %}
		</div>
	</div>

{% endblock %}
